@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Roboto:wght@300&family=Ubuntu:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat:wght@300;400;600&family=Roboto:wght@300&family=Ubuntu:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
}
.logonagro {
  width: 330px;
  margin: auto auto;
  display: block;
}

#produtor {
  background-image: url("../assets/img/produtorbg.webp");
  background-position-x: 50%;
  background-position-y: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  min-height: 440px;
  padding: 70px 30px;
}

.content-produtor {
  width: 40%;
  height: 100%;
  padding-left: 150px;
}

.content-produtor div:nth-child(1) {
  height: 10%;
}

.content-produtor .linhas:nth-child(2) {
  margin-top: 70px;
}

.content-produtor .linhas:nth-child(3) {
  margin-top: 50px;
  padding-left: 33px;
}

.credito {
  background-color: #a0ef01;
  color: #1665ba;
  font-size: 70px;
  font-weight: bold;
  padding: 0 10px;
  line-height: 1;
  font-family: "Ubuntu", sans-serif;
}

.pprodutor {
  font-size: 40px;
  line-height: 1;
  color: white;
  font-family: "Ubuntu", sans-serif;
  margin-left: 5px;
}

.checkBox {
  display: flex;
  align-items: center;
}

.checkBox img {
  width: 40px;
}

.checkBox span {
  font-size: 36px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-left: 5px;
  color: white;
}

.dinheiroConta {
  width: 40%;
  line-height: 1;
  font-size: 30px !important;
  font-family: "Ubuntu", sans-serif;
  color: white;
}
.img48 {
  display: block;
  width: 100px;
}

.areabtn {
  margin: 80px auto 20px auto;
  text-align: center;
}
.btn {
  font-weight: 700;
  letter-spacing: 1px !important;
  background-color: #023047;
  border: 2px solid #a0ef00;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  text-decoration: none !important;
  padding: 5px 15px;
  border-radius: 15px;
}

.titledepo {
  color: #4a4a4a;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 32px;
  padding: 15px 0;
  line-height: 1;
}

.depoimentos{
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
.depoimentos img{
  width: calc(90% / 3);
  height: 100%;
}

@media (max-width: 1050px) {
  #produtor {
    padding: 10px;
  }
}

@media (max-width: 800px) {
  .logonagro {
    width: 220px;
  }

  #produtor {
    padding: 20px;
    min-height: 460px;
  }
  .content-produtor {
    width: 60%;
    height: 100%;
    padding-left: 15px;
  }

  .credito {
    font-size: 40px;
  }

  .pprodutor {
    font-size: 20px;
  }

  .checkBox img {
    width: 30px;
  }

  .checkBox span {
    font-size: 19px;
  }

  .dinheiroConta {
    width: 50%;
    font-size: 22px !important;
  }
  .img48 {
    max-width: 100%;
  }

  .depoimentos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .depoimentos img{
    width: calc(90% / 1);
    display: block;
    margin: auto auto;
  }
}

/* flexBox */
.d-flex {
  display: flex;
}

.alinharCenter {
  align-items: center;
}
